<p id="notice"><%= notice %></p>

<p>
  <strong>PlaneNo:</strong>
  <%= @airplane.planeNo %>
</p>

<p>
  <strong>Row:</strong>
  <%= @airplane.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @airplane.columns %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
